html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	position: fixed;
}

#headloc {
	position: relative;
}

#meowing {
	position: relative;
	z-index: 120;
	min-height: 80%;
}

#iteractions {
	display: none;
	position: relative;
	z-index: 120;
	min-height: 80%;
}

#othersActions {
	position: relative;
	z-index: 120;
	min-height: 80%;
}

.cat {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.part-of-lowpanel {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	height: 100%;
	overflow-x: auto;
	position: relative;
	top: -10px;
}

.part-of-actions {
/*	width: 50px;
	height: 50px; */
	display: inline-block;
	margin: 0 5px;
}

.msg-on-cat-to-right {
	margin-left: 100%;
	margin-top: 3px;
}

.msg-on-cat {
	margin-top: 3px;
	text-align: center;
}

.style-of-game {
	background-color: #bb8b54;
	border: 2px solid #0f0905;
	border-radius: 5px;
	padding: 3px;
}

.info-window {
	position: absolute;
	z-index: 120;
	top: 5px;
	left: 5px;
	display: none;
}
/*
.action-window {
	position: absolute;
	bottom: 0px;
	right: 40px;
	width: 150px;
	display: none;
} */

.hight-action-window {
	position: absolute;
	margin: 10% 40%;
	min-width: 20%;
	z-index: 300;
	display: none;
}

.lowpanel {
	/*display: flex;
	justify-content: center;
	align-items: flex-end;*/
	border-top: 2px solid #0f0905;
	height: 15%;
}
