html {
	color: #0f0905;
	background: #bb8b54;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	font-weight: 600;
}

body {
	margin: 0px;
}


table {
	border: 2px solid rgba(15, 9, 5, 0.6);
	border-collapse: collapse
}

li {
	margin: 5px 0 5px 0;
}

th {
	border: 1px solid rgba(15, 9, 5, 0.6);
	background: rgba(15, 9, 5, 0.3);
	padding: 2px;
}

td {
	border: 1px solid rgba(15, 9, 5, 0.6);
	padding: 2px;
}

blockquote {
	position: relative;
	font-style: italic;
	opacity: 0.8;
}

blockquote:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 0px;
	background: #8a5836;
	width: 5px;
	height: 100%;
}

ul {
	list-style-image: url(/img/talk/3.svg);
}

code {
	background: #282523;
	color: #ffdeae;
	border-radius: 3px;
	padding: 2px;
	width: 98%;
}


.form {
	border-radius: 5px;
	background-color: #bb8b54;
	border: 2px solid #0f0905;
/*	overflow: hidden; */
}

.form:focus {
	outline-color: #bb8b54;
}

.form::placeholder {
	color: #925e36;
}

.error {
	height: 16px;
	background: #c96b6b;
	display: none;
	position: absolute;
	top: -3px;
	padding: 3px 3px 3px 6px;
	border-radius: 3px;
	left: -3px;
}

#container {
	margin: 40px auto;
	width: 640px;
	min-height: 360px;
}

#cover {
	position: relative;
	top: -10px;
	left: -10px;
	width: 640px;
	min-height: 360px;
	background-image: url('img/line.png'), url('img/line.png'), url('img/verticalLine.png'), url('img/verticalLine.png');
	background-position: bottom, top, right, left;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	
}

#lower-cover {
	width: 620px;
	min-height: 360px;
	background-image: url('img/head.jpg');
}

#require {
	padding: 20px;
}

#noRequire {
	padding: 5px;
	width: 340px;
	border: 2px solid #0f0905; 
	border-radius: 5px;
	display: none;
	background: #bb8b54;

}

#talks {
	max-height: 400px;
	overflow: auto;
}

.no-margin {
	margin: 0px;
}

.back-button {
	position: absolute;
	right: 6px;
	top: -25px;
	background: url(img/button.png) no-repeat;
	border: none;
	width: 140px;
	height: 43px;
}

.back-button:focus {
	outline: none;
}

.head-text {
	font-size: 14pt;
}

.lower-text {
	font-size: 7pt;
}

.field-div-hight {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.xrenovyi-iz-menya-verstalshik {
      background-image: url(img/line.png), url(img/verticalLine.png), url(img/verticalLine.png);
      background-position: bottom, right, left;
      background-repeat: repeat-x, repeat-y, repeat-y;
	position: relative;
      height: 20px;
      left: -10px;
      top: -10px;
}

.xrenovyi-iz-menya-verstalshik2 {
	display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      right: 20px;
	bottom: 10px;
}

.fiels-div {
	margin: 0 10px 3px 0;
	width: 30%;
}

.fiels-divErr {
	padding-left: 3px;
	border: 2px solid #0f0905; 
	border-radius: 5px;
	display: none;
	background: #bb8b54;
	position: absolute;
      right: 15px;
}

.cr-w-button {
	width: 240px;
	margin-bottom: 10px;
}

.arrow-button {
	height: 30px;
	width: 20px;
	border: none;
	position: relative;
}

.arrow-button:focus {
	outline: none;
}

.arrow-button1 {
	height: 10px;
	width: 10px;
	border: none;
	position: relative;
}
.arrow-button1:focus {
	outline: none;
}

.an-l-arr {
	transition: right 0.5s;
}

.an-r-arr {
	transition: left 0.5s;
}

.obj {
	height: 100px;
	width: 140px;
	margin: 0 20px 0 20px;	
}

#viewer {
	margin: 10px auto;
	background: #bb8b54;
	border: 2px solid #0f0905;
	border-radius: 10px;
	overflow: hidden;
}

.list-of-locs-cw {
	overflow: auto;
	max-height: 200px;
	margin: 10px 20% 0 20%;
	text-align: start;
}

.cw-add {
	width: 200px;
}

.cw-block {
	display: flex;
	align-items: center;
	position: relative;
}

.cw-setting {
	display: flex;
	justify-content: center;
}

.cw-part-of-setting {
	text-align: center;
	margin: 0px 30px;
	width: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ul {
	margin-bottom: 10px;
}

.question {
	border-radius: 10px;
      background-color: #bb8b54;
      border: 2px solid #0f0905;
      padding: 1px;
	margin-left: 2px;
	cursor: help;
	display: inline-block;
	position: relative;
}

.window-of-q {
	display: none;
	position: absolute;
	width: 200px;
	top: 20px;
	left: 10px;
	z-index: 100;
}

.color-cch {
	display: inline-block;
	border-radius: 5px;
	border: 2px solid #0f0905;
	margin: 1px;
	width: 20%;
	height: 25px;
}

.field-cch {
	display: flex;
	margin: 5px 0;
}

.part-of-field-start-cch {
	width: 49%;
/*	display: flex; 
	align-items: center; */
}

.part-of-field-end-cch {
	display: flex;
	width: 49%;
	justify-content: center;
}

.as-form {
	margin: 10px 1px 1px 1px;
	border-radius: 5px;
	background-color: rgba(187, 139, 84, 0.4);
	border: 2px solid #0f0905;
	padding: 5px;
}

.cch-viewer {
	width: 49%;
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: column;
}

.cch-error {
	display: none;
	padding: 3px;
	margin-top: 5px;
	max-width: 80%;
}

.hello {
	display: inline-block;
	width: 180px;
	position: absolute;
	right: 30px;
	top: 30px;
	text-align: right;
}

a:link {
	color: #371c07;
}

a:visited {
	color: #382312;
}

a:hover {
	color: #382312;
}

a:active {
	color: #382312;
}

/*.part-of-talks {
	overflow: auto;
	height: 93%;
}*/

.prompt {
    background: #371c07;
    font-size: 9px;
    color: #bb8b54;
    padding: 5px;
    position: absolute;
    display: none;
    border-radius: 3px;
    top: -20px;
    left: 0px;
}
.prompt:after {
    content:'';
    position: absolute;
    bottom: -14px;
    left: 30px;
    margin-left: -16px;
    border: 7px solid transparent;
    border-top: 8px solid #371c07;
}

.field-of-talks {
	height: 50px;
	padding: 5px;
	position: relative;
	margin: 2px 0;
	cursor: pointer;
}

.time-last-talk {
	position: absolute;
	top: 5px;
	right: 10px;
}

.center-of-field-talk {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}

.isnt-writed-talk {
	padding: 2px;
	background: darkgreen;
	border-radius: 3px;
	margin-top: 3px;
	display: none;
}

.a-talk-input {
	border-radius: 5px;
	background-color: #bb8b54;
	padding: 3px;
}

.area-for-a-talk-input {
	width: 80%;
	resize: vertical;
	border-radius: 5px;
	background-color: #dba76d;
	border: 1px solid #644b30;
}

.edit-talk-desc {
	position: absolute;
	left: 80%;
	top: 0px;
	padding: 2px;
	cursor: pointer;
}

.area-for-a-talk-input::placeholder {
        color: #925e36;
}

.area-for-a-talk-input:focus {
	outline-color: #bb8b54;
}

.button-for-a-talk-input {
	display: inline-block;
	width: 19%;
	text-align: center;
	height: 100%;
}

.talk-inkl-md {
	font-weight: normal;
	font-size: 8pt;
	display: flex;
	text-align: left;
	margin-top: 5px;
	position: relative;
	left: 12px;
}

.talk-md-viever {
	display: inline-block;
	text-align: center;
}

.talk-md-low-viever {
	border: 2px solid rgb(134, 87, 37);
	padding: 1px;
	border-radius: 5px;
}

.msg-isntwrote {
	position: absolute;
	top: 5px;
	right: 5px;
}

.msg-talk {
	word-wrap: break-word;
	position: relative;
	min-width: 170px;
	max-width: 80%;
	display: inline-block;
	text-align: start;
	padding: 5px;
	margin: 2px 10px 2px 0;
	border-radius: 5px;
	background-color: #bb8b54;
}

.msg-talk-viever {
	border: 2px solid rgb(134, 87, 37);
	text-align: start;
	font-weight: normal;
}

.talk-description {
	width: 98%;
	padding: 5px;
	margin: 2px 10px 2px 0;
	border-radius: 5px;
	background-color: #bb8b54;
	font-weight: normal;
}

.msg-talk-time {
	margin: 0 10px;
	font-size: 7pt;
	opacity: .5;
	font-weight: normal;
}

.container-for-a-talk {
	overflow: hidden auto;
	height: 400px;
}

.edit-talk {
	width: 40%;
	padding: 2px;
	margin: 5px;
	height: 20px;
	display: inline-block;
}

.talk-known-img {
	border-radius: 25px;
	background-position: -110px 10px;
	width: 50px;
	height: 50px;
	background-size: 2000%;
	background-repeat: no-repeat;
}

.talk-choose-members {
	display: none;
	position: absolute;
	right: 40px;
	top: 20px;
}

.md-img {
	max-height: 100%;
	max-width: 100%;
}

.md-p {
	margin: 5px 0;
	min-height: 15px;
}

.md-hr {
	background: url(img/line.png) repeat-x;
	height: 20px;
}

.norm-txt {
	font-weight: normal;
}

.md-demo-1 {
	text-align: start;
	width: 30%;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	background-color: #bb8b54;
	margin-right: 10%;
}

.md-demo-2 {
	text-align: start;
	width: 30%;
	resize: none;
	border-radius: 5px;
	background-color: #dba76d;
	border: 1px solid #644b30;
	margin-left: 10%;
}

.md-demo-3 {
	text-align: start;
	display: flex;
	justify-content: space-around;
}

.talk-pages {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
