html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	position: fixed;
}

#headloc {
	position: relative;
}

#mouselistener {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 150;
}

#meowing {
	height: 100%;
	bottom: -5px;
	position: relative;
	z-index: 120;
}

#iteractions {
	height: 100%;
	width: 250px;
	z-index: 120;
	margin-right: 5px;
	display: none;
	position: relative;
	bottom: -5px;
}

.cat {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.msg-on-cat-to-right {
	margin-left: 100%;
	margin-top: 3px;
}

.msg-on-cat {
	margin-top: 3px;
}

.style-of-game {
	background-color: #bb8b54;
	border: 2px solid #0f0905;
	border-radius: 5px;
	padding: 3px;
}

.info-window {
	position: absolute;
	z-index: 120;
	top: 5px;
	left: 5px;
	display: none;
}

.action-window {
	position: absolute;
	bottom: 0px;
	right: 40px;
	width: 150px;
	display: none;
}

.hight-action-window {
	position: absolute;
	margin: 10% 30%;
	width: 40%;
	z-index: 300;
	display: none;
}

.lowpanel {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-top: 2px solid #0f0905;
	height: 10%
}
