html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	position: fixed;
}

#headloc {
	position: relative;
}

#mouselistener {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 150;
}

#meowing {
	width: 350px;
	height: 40px;
	bottom: -5px;
	position: relative;
}

.cat {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.msg-on-cat-to-right {
	margin-left: 100%;
	margin-top: 3px;
}

.msg-on-cat {
	margin-top: 3px;
}

.style-of-game {
	background-color: #bb8b54;
	border: 2px solid #0f0905;
	border-radius: 5px;
	padding: 3px;
}

.lowpanel {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-top: 2px solid #0f0905;
}
